src/main/mule/chenni_a_20-nexus-repo-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="89e47df2-67cc-40fd-b1d8-26f0507e7e07" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="${api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="36590c67-9027-4cdf-b376-95af60eb1096" flowRef="chenni_a_20-nexus-repo-demoFlow" />
	<configuration-properties doc:name="Configuration properties" doc:id="d87cd1db-a93a-4b79-bec0-2b36e8096013" file="api-${env}.yaml" />
	<flow name="chenni_a_20-nexus-repo-demoFlow" doc:id="dba6ae39-1332-4d9c-9384-a4bd9461e43e" >
		<http:listener doc:name="Listener" doc:id="f57762f7-2ade-422e-982c-fe15c61446d4" config-ref="HTTP_Listener_config" path="test"/>
		<logger level="INFO" doc:name="Logger" doc:id="bb7a42cf-4971-4e1c-9bd0-3252815c4dd4" message="test"/>
		<set-payload value='#["Welcome to mule advance"]' doc:name="Set Payload" doc:id="8ad106e2-fd42-4502-9390-0cf2294ef3b1" />
	</flow>
</mule>
